.body {
  font-family: 'Montserrat', sans-serif;
  display: block;
  margin: auto;
}

/*
top part with nav
*/

.smaller-top {
  display: none;
}

.row {
  margin-left: auto;
  margin-right: auto;
}

#top {
  width: 85%;
  height: 100vh;
  margin-left: auto;
  margin-right: auto;
}

#main-logo {
  height: 70vh;
  width: 40vw;
}

.nav-item:first-of-type {
  margin-top: 0;
}

.nav-item {
  font-size: 28px;
  font-size: 3vw;
  margin-top: 7vh;
  transition: opacity .3s;
}

.nav-item img {
  padding-right: 30px;
  width: 70px;
  height: 36px;
  transition: opacity .3s;
}

.nav-item:hover {
  cursor: pointer;
}

.nav-item a {
  color: #000;
}

.nav-item a:hover {
  text-decoration: none;
  color: #000;
}

.nav-item a:focus {
  text-decoration: none;
  color: #000;
}

/*
end of top part with nav
*/

/*
nav bar that sticks to the top after scrolling
*/

.fixed-nav .sticky-nav {
  max-height: 80px;
}

.faded .sticky-nav {
  opacity: 0.3;
}

.opaque .sticky-nav {
  opacity: 1;
}

.sticky-nav {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 20px;
  position: fixed;
  width: 100vw;
  background-color: #FFFFFF;
  height: 70px;
  z-index: 1;
  max-height: 0;
  overflow: hidden;
  transition: all .3s;
}

.sticky-nav a {
  text-decoration: none;
  color: #000;
  margin-right: 70px;
  transition: opacity .3s;
}

.sticky-nav a:hover {
  text-decoration: none;
  color: #000;
}

.sticky-nav img {
  padding-right: 20px;
  width: 40px;
  height: 10vh;
  transition: opacity .4s;
}

.sticky-nav a:last-child {
  margin-right: 0;
}

/*
end of nav bar that sticks to the top after scrolling
*/

/*
about section
*/

#about-section {
  background-color: #c2d4f0;
  width: 100%;
}

#about-row {
  padding-top: 70px;
  padding-bottom: 70px;
  margin-left: auto;
  margin-right: auto;
  width: 85%;
}

#about-section h1 img {
  height: 5vh;
  padding-right: 40px;
}

#about-section h1 {
 font-size: 30px;
}

#about-section p {
  margin-top: 25px;
}

#headshot {
  height: 245px;
  margin-left: auto;
  margin-right: auto;
  border-radius: 50%;
  box-shadow: 0 0 20px #000;
  -moz-box-shadow: 0 0 20px #000;
  -webkit-box-shadow: 0 0 20px #000;
  -o-box-shadow: 0 0 20px #000;
}

/*
end of about section
*/

/*
resume section
*/

#resume-section {
  width: 85%;
  margin-left: auto;
  margin-right: auto;
}

#resume-row {
  padding-top: 150px;
  padding-bottom: 150px;
}

#resume-section-icon {
  height: 200px;
  margin-left: auto;
  margin-right: auto;
}

.resume-section-header {
  display: none;
}

#download-prompt {
  font-size: 40px;
}

#google-drive {
  height: 30px;
  padding-right: 30px;
}

/*
end of resume section
*/

/*
projects section
*/
#projects-section {
  background-color: #c2d4f0;
  width: 100%;
}

#projects-row {
  width: 85%;
  margin-right: auto;
  margin-left: auto;
}

#projects-row:first-of-type {
  margin-top: 140px;
}

#projects-section h1 {
  text-align: center;
  font-size: 75px;
  padding-top: 80px;
}

#projects-section-icon {
  height: 100px;
  padding-right: 40px;
}

.project-head {
  margin-top: 30px;
  overflow: auto;
}

.project-image {
  height: 100px;
  float: left;
  padding-right: 50px;
}

.project-name {
  font-weight: bold;
  font-size: 25px;
}

.project-name br {
  display: block;
  content: "";
  margin-top: -5px;
}

.project-tools {
  font-style: italic;
  font-size: 20px;
}

.erect {
  font-style: normal;
}

.project-title {
  float: left;
}

.project-info {
  padding-top: 30px;
}

.project-footer {
  padding-top: 30px;
}

.project-footer img {
  height: 60px;
  margin-right: 50px;
  margin-bottom: 80px;
}

/*
End of Projecs section
*/


/*
Contact section
*/
#contact-section {
  width: 85%;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 70px;
  padding-top: 70px;
}

.contact-section-icon {
  height: 75px;
  width: 70px;
}

#contact-section a {
  font-size: 16px;
  padding-left: 30px;
}

#linkedin-icon {
  height: 50px;
  width: 70px;
}

#contact-section h1 {
  text-align: right;
  font-size: 32px;
}

#honeypot {
  display: none;
}

#name, #email, #message {
  color: #000000;
}

#thankyou-message {
  padding-top: 10px  ;
}

/*
end of contact section
*/

/*
media queries
*/

@media screen and (max-width: 768px) {

  /*
  nav section
  */

  #main-logo {
    height: auto;
  }

  #nav-wrapper {
    width: auto;
    margin-left: auto;
    margin-right: auto;
    padding-right: 29px;
  }

  #top {
    display: none;
  }

  .smaller-top-wrapper {
    position: relative;
    height: 100vh;
  }

  .smaller-top {
    display: block;
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%); 
  }

  .logo-section {
    align-self: center;
    width: 100;
  }

  .nav {
    display: block!important;
    width: 221px;
    margin-right: auto;
    margin-left: auto;
  }

  .nav-item:first-of-type {
    margin-top: 80px;
  }

  .nav-item {
    margin-top: 40px;
    font-size: 35px;
  }

  .nav-item img {
    height: 40px;
    padding-right: 10px;
  }

  /*
  end of nav section
  */

  /*
  end of nav section
  */

  #projects-section h1 {
    font-size: 40px;
  }

  .project-head .project-image {
    padding-bottom: 30px;
  }

  .project-footer img {
    height: 40px;
    margin-right: 20px;
  }

  #projects-row:first-of-type {
    margin-top: 40px;
  }
  
}

@media screen and (max-width: 700px) {
  .sticky-nav-text {
    display: none;
  }

  .sticky-nav a {
    margin-right: 50px;
    padding: none;
  }
}

@media screen and (max-width: 600px) {

  /*
  nav section
  */
  .logo-section {
    text-align: center;
  }

  #main-logo {
    width: 250px;
  }

  .nav {
    width: 198px;
  }

  .nav-item:first-of-type {
    margin-top: 40px;
  }

  .nav-item {
    font-size: 26px;
    margin-top: 30px;
  }

  .nav-item img {
    height: 32px;
  }

  /*
  end of nav section
  */

  /*
  about section 
  */

  #about-section h1 {
    font-size: 22px;
  }

  #about-section h1 img {
    height: 25px;
    padding-right: 20px;
  }
  
  #about-section p {
    font-size: 15px;
  }

  .about-image-section {
    display: none;
  }

  /*
  end of about section
  */

  /*
  resume section
  */
  #resume-row {
    padding-top: 80px;
    padding-bottom: 80px;
  }

  #resume-section-icon {
    height: 100px;
    margin-right: 30px;
  }

  .resume-section-text {
    display: none;
  }

  .resume-section-header {
    display: inline-block;
    font-size: 30px;
    font-weight: 500;
  }
  /*
  end of resume section
  */

  /*
  projects section
  */

  #projects-section-icon {
    height: 58px;
  }

  /*
  end of projects section
  */

  /*
  contact section
  */

  .contact-section-icon {
    height: 60px;
    width: 55px;
  }

  #linkedin-icon {
    width: 55px;
  }

  .contact-info {
    margin-bottom: 70px;
  }

  #contact-section h1 {
    text-align: left;
  }

  /*
  end of contact section
  */


}

@media screen and (max-width: 400px) {
  .sticky-nav a {
    margin-right: 38px;
  }

  #projects-section h1 {
    font-size: 34px;
  }

}