.body {
  font-family: 'Montserrat', sans-serif;
  display: block;
  margin: auto;
}

/*
top part with nav
*/

.row {
  margin-left: auto;
  margin-right: auto;
}

#top {
  width: 85%;
  height: 100vh;
  margin-left: auto;
  margin-right: auto;
}

#main-logo {
  height: 70vh;
  width: 40vw;
}

.nav-item:first-of-type {
  margin-top: 0;
}

.nav-item {
  font-size: 7vh;
  font-size: 3vw;
  margin-top: 7vh;
  transition: opacity .3s;
}

.nav-item img {
  padding-right: 30px;
  width: 70px;
  height: 10vh;
  transition: opacity .3s;
}

.nav-item:hover {
  cursor: pointer;
}

.nav-item a {
  color: #000;
}

.nav-item a:hover {
  text-decoration: none;
  color: #000;
}

.nav-item a:focus {
  text-decoration: none;
  color: #000;
}

/*
end of top part with nav
*/

/*
nav bar that sticks to the top after scrolling
*/

.fixed-nav .sticky-nav {
  max-height: 80px;
}


.sticky-nav {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 20px;
  position: fixed;
  width: 100vw;
  background-color: #FFFFFF;
  height: 70px;
  z-index: 1;
  max-height: 0;
  overflow: hidden;
  transition: all .3s;
}

.sticky-nav a {
  text-decoration: none;
  color: #000;
  margin-right: 70px;
  transition: opacity .3s;
}

.sticky-nav a:hover {
  text-decoration: none;
  color: #000;
}

.sticky-nav img {
  padding-right: 20px;
  width: 40px;
  height: 10vh;
  transition: opacity .4s;
}

.sticky-nav a:last-child {
  margin-right: 0;
}

/*
end of nav bar that sticks to the top after scrolling
*/

/*
about section
*/

#about-section {
  background-color: #c2d4f0;
  width: 100%;
}

#about-row {
  padding-top: 70px;
  padding-bottom: 70px;
  margin-left: auto;
  margin-right: auto;
  width: 85%;
}

#about-section h1 img {
  height: 5vh;
  padding-right: 40px;
}

#about-section h1 {
 font-size: 30px;
}

#about-section p {
  margin-top: 25px;
}

#headshot {
  height: 245px;
  margin-left: auto;
  margin-right: auto;
  border-radius: 50%;
  box-shadow: 0 0 20px #000;
  -moz-box-shadow: 0 0 20px #000;
  -webkit-box-shadow: 0 0 20px #000;
  -o-box-shadow: 0 0 20px #000;
}

/*
end of about section
*/

/*
resume section
*/

#resume-section {
  width: 85%;
  margin-left: auto;
  margin-right: auto;
}

#resume-row {
  padding-top: 150px;
  padding-bottom: 150px;
}

#resume-section-icon {
  height: 200px;
  margin-left: auto;
  margin-right: auto;
}

#download-prompt {
  font-size: 40px;
}

#google-drive {
  height: 30px;
  padding-right: 30px;
}

/*
end of resume section
*/

/*
projects section
*/
#projects-section {
  background-color: #c2d4f0;
  width: 100%;
}

#projects-row {
  width: 85%;
  margin-right: auto;
  margin-left: auto;
}

#projects-row:first-of-type {
  margin-top: 140px;
}

#projects-section h1 {
  text-align: center;
  font-size: 75px;
  padding-top: 80px;
}

#projects-section-icon {
  height: 100px;
  padding-right: 40px;
}

.project-head {
  margin-top: 30px;
  overflow: auto;
}

.project-image {
  height: 100px;
  float: left;
  padding-right: 50px;
}

.project-name {
  font-weight: bold;
  font-size: 25px;
}

.project-name br {
  display: block;
  content: "";
  margin-top: -5px;
}

.project-tools {
  font-style: italic;
  font-size: 20px;
}

.erect {
  font-style: normal;
}

.project-title {
  float: left;
}

.project-info {
  padding-top: 30px;
}

.project-footer {
  padding-top: 30px;
}

.project-footer img {
  height: 60px;
  margin-right: 50px;
  margin-bottom: 80px;
}

/*
End of Projecs section
*/


/*
Contact section
*/
#contact-section {
  height: 100vh;
  width: 85%;
  margin-left: auto;
  margin-right: auto;
}

.contact-section-icon {
  height: 75px;
  width: 70px;
}

#contact-section a {
  font-size: 16px;
  padding-left: 30px;
}

#linkedin-icon {
  height: 50px;
  width: 70px;
}

#honeypot {
  display: none;
}

#name, #email, #message {
  color: #000000;
}

#thankyou-message {
  padding-top: 10px  ;
}

/*
media queries
*/

@media screen and (max-width: 800px) {
  /*
  .nav {
    background-color: green;
  }
  */
}
